.Home_Background{
    width: 100%;
    z-index: -1;
    position: absolute;
}

.Home_Title{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}