@import './variables.scss';

.Home {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    color: $colorBlack;
    text-align: center;
    align-items: center;
    background: rgb(225,201,255);
    background: radial-gradient(circle, rgba(225,201,255,1) 0%, rgba(138,198,209,1) 100%);
}

.about {
    width: 60%;
}

.tech-logos {
    display: inline-flex;
    justify-content: space-between;
    width: 60%;
}

.logos {
    height: 6rem;
}

@media (max-width: 600px) {
    .about {
        width: 90%;
    }
    .Home {
        height: 70vh;
    }
    .Title {
        font-size: 3rem;
    }
    .tech-logos {
        width: 90%;
    }
  }

  @keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    
    80% {
        transform: translate(10px);

    }

    100% {
        opacity: 1;
        transform: translate(0);
    } 
}