@import './variables.scss';

.Home {
    margin-top: 4rem;
    box-shadow: 0 1rem 2rem rgba($colorBlack,.2);
    height: 50vh;
    display: flex;
    color: $colorBlack;
    background: rgb(225,201,255);
    background: radial-gradient(circle, rgba(225,201,255,1) 0%, rgba(138,198,209,1) 100%);
}

.About {
    width: 65%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    align-items: center;
    margin: 4rem;
    padding: 4rem;
}

.jasmine {
    width: 35%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    align-items: center;
}

.bitmoji {
    height: 50vh;
}

.tech-logos {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

.logos {
    height: 6rem;
}

@media (max-width: 1200px) {
    .Home {
        height: 70vh;
    }
  }

@media (max-width: 980px) {
    .Home {
        height: 70vh;
    }
    .About {
        padding: 0;
    }
}

@media (max-width: 930px) {
    .Home {
        height: 70vh;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;
        align-items: center;
    }
    .About {
        padding: 0;
        margin: 2rem;
        width: 90%;
    }
    .jasmine {
        display: none;
    }
}

  @keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    
    80% {
        transform: translate(10px);

    }

    100% {
        opacity: 1;
        transform: translate(0);
    } 
}