@import './home.scss';
@import './variables.scss';
@import './projects.scss';

*,
  *::after,
  *::before {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
  }

  html {
    font-size: 62.5%;
  }

  body {
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
  }

