@import './about.scss';
@import './variables.scss';
@import './projects.scss';
@import './navbar.scss';
@import './social.scss';

*,
  *::after,
  *::before {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
  }

  html {
    font-size: 62.5%;
  }

  body {
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
  }

.Title {
    font-size: 5rem;
    display: flex;
    justify-content: center;
    margin-right: 3rem;
    margin-left: 3rem;
    font-weight: bold;
    animation: moveInLeft 1s ease-out;
}

.Subtitle {
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
}

.Paragraph {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}

.app {
  margin-right: 4em;
  margin-left: 4em;
}

.btn {
  width: 9rem;
  box-shadow: 0 1rem 2rem rgba($colorBlack,.2);
}

.spotify {
  margin: 20px;
}

@media (max-width: 800px) {
  .app {
    margin-right: 0em;
    margin-left: 0em;
  }
  .Title {
    font-size: 3.5rem;
    margin-right: 0em;
    margin-left: 0em;
  }
}

@keyframes homeAnimation{
  0%{
      transform: rotate(0);
      opacity: 0;
      }
  100%{
      transform: rotate(0);
      opacity: 1;
      }
}

@keyframes moveInBottom {
  0% {
      opacity: 0;
      transform: translateY(3rem);
  }
  
  100% {
      opacity: 1;
      transform: translate(0);
  } 
}