.NavBar {
    padding-bottom: 0;
}

#logo {
    height: 5rem;
    display: block;
    float: left;
}

.Link {
    display: flex;
    justify-content: flex-end!important;
}

.PageLinks {
    margin: 1rem;
    color: $colorBlack;
    text-decoration: none;
    &:hover {
        color: $colorPink;
        text-decoration: none;
    }
    &:active {
        color: $colorBlack;
        text-decoration: none;
    }
}