.Projects_container {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    background-color: $colorGrey;
}

.Projects_box {
    width: 350px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    height: 350px;
    margin: 4rem;
    &:hover {
        visibility: visible;
        background: rgb(138,198,209);
        background: radial-gradient(circle, rgba(138,198,209,1) 0%, rgba(165,199,223,1) 75%, rgba(225,201,255,1) 100%);
        padding: 3rem;
        animation: homeAnimation 1s forwards 0s linear;
        box-shadow: 0 1rem 2rem rgba($colorBlack,.2);
        .Projects_image{
            opacity: 5%;
            z-index: -1;
        }
    }
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}

.Projects_image {
    left: 0;
    position: absolute;
    height: 350px;
    width: 350px;
    margin: 0;
    &:active {
        z-index: -1;
    }
}

@media (max-width: 600px) {
    .Projects_box {
        margin: 3rem;

  }
}  