.Social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    color: $colorBlack;
    text-align: center;
    align-items: center;
    padding: 3rem;
    margin-bottom: 4rem;
    background-color: $colorGrey;
}

.social-icons {
    display: flex;
    justify-content: center;
}